@charset "UTF-8";

.top{
  background-image: url('https://github.com/shunGo628/shungo555.github.io/blob/master/top.png?raw=true');
  background-size: cover;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
